.py_var{
    color:rgb(255, 145, 0);
}
.py_fnc{
    color:rgb(255, 145, 0);
}
.py_atr{
    color:rgb(255, 145, 0);
}

.fr_obj{
    font-weight: 400;
    font-style: italic;
    color:rgb(0,0,255);
}


